table, form, input, select, option {
	font-size: 12px;
}

 table, th, tr{
	overflow: hidden;
	white-space: nowrap;
}

.margen-container-nav{
    position: relative;
    margin-top: 90px;
}

.enlace-activo{
    text-decoration: true;
}

.sub-item:hover{
    text-decoration: underline;
}

.no-sort::after { display: none!important; }

.no-sort { pointer-events: none!important; cursor: default!important; }