
 table, th, tr{
	overflow: hidden;
	white-space: nowrap;
}

#tabla-sedes_filter input, 
#tabla-sedes_length select,
#tabla-areas_filter input, 
#tabla-areas_length select,
#tabla-cargos_filter input, 
#tabla-cargos_length select,
#tabla-nacionalidades_filter input, 
#tabla-nacionalidades_length select,
#tabla-estados_filter input, 
#tabla-estados_length select,
#tabla-formas-pago_filter input, 
#tabla-formas-pago_length select,
#tabla-cuentas_filter input, 
#tabla-cuentas_length select,
#tabla-conceptos_filter input, 
#tabla-conceptos_length select,
#tabla-asociados_filter input, 
#tabla-asociados_length select,
#tabla-socios_filter input, 
#tabla-socios_length select,
#tabla-historial_filter input, 
#tabla-historial_length select,
#tabla-prestamos_filter input, 
#tabla-prestamos_length select,
#tabla-prestamos-socio_filter input, 
#tabla-prestamos-socio_length select,
#tabla-bancos_filter input, 
#tabla-bancos_length select,
#tabla-contables_filter input, 
#tabla-contables_length select,
#tabla-usuarios_filter input, 
#tabla-usuarios_length select,
#tabla-parentescos_filter input, 
#tabla-parentescos_length select,
#tabla-niveles_filter input, 
#tabla-niveles_length select,
#tabla-instituciones_filter input, 
#tabla-instituciones_length select,
#tabla-titulos_filter input, 
#tabla-titulos_length select{
	margin-top:  3px;
	margin-right:  3px;
	outline: none;
    padding: .375rem .75rem;
    font-size: .9rem;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#tabla-sedes_filter input:focus, 
#tabla-sedes_length select:focus,
#tabla-areas_filter input:focus, 
#tabla-areas_length select:focus,
#tabla-cargos_filter input:focus, 
#tabla-cargos_length select:focus,
#tabla-nacionalidaes_filter input:focus, 
#tabla-nacionalidaes_length select:focus,
#tabla-estados_filter input:focus, 
#tabla-estados_length select:focus
#tabla-formas-pago_filter input:focus, 
#tabla-formas-pago_length select:focus,
#tabla-cuentas_filter input:focus, 
#tabla-cuentas_length select:focus,
#tabla-conceptos_filter input:focus, 
#tabla-conceptos_length select:focus,
#tabla-asociados_filter input:focus, 
#tabla-asociados_length select:focus
#tabla-socios_filter input:focus, 
#tabla-socios_length select:focus,
#tabla-historial_filter input:focus, 
#tabla-historial_length select:focus,
#tabla-prestamos_filter input:focus, 
#tabla-prestamos_length select:focus,
#tabla-prestamos-socio_filter input:focus, 
#tabla-prestamos-socio_length select:focus,
#tabla-bancos_filter input:focus, 
#tabla-bancos_length select:focus,
#tabla-contables_filter input:focus, 
#tabla-contables_length select:focus,
#tabla-usuarios_filter input:focus, 
#tabla-usuarios_length select:focus,
#tabla-parentescos_filter input:focus, 
#tabla-parentescos_length select:focus,
#tabla-niveles_filter input:focus, 
#tabla-niveles_length select:focus,
#tabla-instituciones_filter input:focus, 
#tabla-instituciones_length select:focus,
#tabla-titulos_filter input:focus, 
#tabla-titulos_length select:focus{
    color: #495057;
    background-color: #fff;
    border-color: #a1cbef;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(52,144,220,.25);
}

.margen-container-nav{
    position: relative;
    margin-top: 90px;
}

.enlace-activo{
    text-decoration: true;
}

.sub-item:hover{
    text-decoration: underline;
}

.no-sort::after { display: none!important; }

.no-sort { pointer-events: none!important; cursor: default!important; }